@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
  padding: 10%;
}

.thumbnail-textbox{
  display: none;
  background-color: black;
  width: 250px;
  height: 100px;
  padding: 10px;
}

.thumbnail{
  background-color: gray;
  height: auto;
  width: 250px;
  transition: transform .2s;
  overflow: hidden;
}

h1{
  color: green;
  font-size: 12px!important;
  font-family: Oxygen;
  font-weight: 700!important;
  display: inline!important;
}

p{
  color: white;
  font-size: 10px!important;
  font-family: Oxygen;
  font-weight: 300!important;
  display: inline!important;
}

.thumbnail img{
  position: static;
}


.thumbnail-textbox i{
  color:white!important;
  font-size: 16px;
  font-weight: 100;
}

.thumbnail-textbox button{
  background-color: transparent;
  border: transparent;
  margin: 2px!important;
  padding: 0px;
}


.thumbnail:hover {
  transform: scale(1.5);
}


img:hover + .thumbnail-textbox{
  display: block;
}


.thumbnail-textbox:hover{
  display: block;
}

.badge{
  display: inline!important;
  border-color: white!important;
  border-width: thin;
  border-style: solid!important;
  background-color: black!important;
  color: white!important;
  font-size: 9px!important;
  font-family: Oxygen;
}

.modal-content{
  background-color: black!important;
  width: 100%!important;
}

.modal-content .fa-times-circle{
  color:white!important;
  position: absolute;
  right: 15px;
  top: 15px;
}

.modalImg{
  width: 100%;
  
}

.modalTop{
  height: auto;
}

.modalImgFooter{
  display: inline;
  font-family: Oxygen;
  position: absolute;
  bottom: 35px;
}

.modalImgFooter .defbtn{
  background-color: transparent;
  border-color: transparent;
}

.modalImgFooter .btn-light{
  font-size: 12px!important;
  font-weight: 700;
  border-color: transparent;
  margin-left: 35px;
}

.modalImgFooter .fa-play{
  margin-right: 12px;
  margin-left: 5px;
  color:black;
}

.modalImgFooter .fa-plus-circle,
                .fa-thumbs-up,
                .fa-thumbs-down,
                .fa-volume-mute{
  color: white!important;
  margin-right: 5px;
}



.darkbg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 315px;
  box-shadow: inset 0 -200px 200px -100px rgba(0,0,0,.9);
}

.modalText{
  margin: 20px;
}

.grayColor{
  color: gray!important;
}

.smallFont{
  font-size: 9px!important;
}

.modalText h2{
  color: white;
  font-size: 14px;
  font-family: Oxygen;
  font-weight: 700;
  display: inline;
}

.custom-select{
  font-size: 11px!important;
  color: white!important;
  background-color: black!important;
}

.space{
  height: 30px;
}

.card{
  background-color: black!important;
  border-color: transparent!important;
  margin-top: 10px!important;
  padding: 5px;
}

.card-selected{
  background-color: #2A2A2A!important;
  border-color: transparent!important;
}

.card-body img{
  width: 120px;
  border-radius: 3px;
}